{% extends 'base.html' %}
{% load static %}
{% block title %}Register - Medinova{% endblock %}
{% block content %}



    <!-- Register Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Register</h5>
                        <h1 class="display-4">Register and connect with us</h1>
                    </div>
                    <p class="mb-5">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="{% url 'team' %}">Find Doctor</a>
                    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="">Read More</a>
                </div>
                <div class="col-lg-6">
                    <div class="bg-light text-center rounded p-5 form-group">
                        <h1 class="mb-4">Register For An Appointment</h1>
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            {% if messages %}
                            {{ message.tags }}
                                <div class="alert alert-primary" role="alert">
                                    {% for message in messages %}
                                    {{ message }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="mb-3">
                                <label for="first_name" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name">
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">User Name</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="mb-3">
                                <label for="password1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password1" name="password">
                            </div>
                            <div class="mb-3">
                                <label for="password2" class="form-label"> Confirm Password</label>
                                <input type="password" class="form-control" id="password2" name="confirm_password">
                            </div>
<!--                                {{ form }}-->

                                <br/><br/>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Register</button>
                                </div><br/>
                                    <div style="color:red">
                                        {{ form.errors }}
                                    </div>
                                <div>
                                    <p>Already have an account?<a href="{% url 'login_page' %}">Login</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register End -->


    {% endblock %}
